@media ( max-width :640px) {
	.head-opac50 {
		height: 120px !important;
	}
	
	.slider{
		height: 120px !important;

	}
	
	.logo {
		display:block !important;
	}
	
	.account-signup{ 
		margin-top: 13px !important;
		height: 45px !important;
		padding: 5px 0px 5px 0px !important;
		text-align: center;
		display: block !important;
	}
	
	
	.support-number {
		float: left !important;
		margin-left: 5px !important
	}
	
	.product-lists {
		-webkit-column-count: 2 !important;
		-moz-column-count : 2 !important;
		column-count : 2 !important;
		-moz-column-count: 2 !important;
		column-count: 2 !important;
		margin-top: 50px !important;
	}
	
	.white-line{
		display:none !important;
	}
	
	.img-search {
		text-align:center;
	}
	
	.main-search input{
		height: 30px !important
	}

	#main-search{
		position: static !important;
		left: 0px !important;
		margin: 0px !important;
		width: auto !important;
		text-align:center !important;
		/* Fallback for web browsers that doesn't support RGBa */
		background: rgb(102, 102, 102);
		/* RGBa with 0.6 opacity */
		background: rgba(102, 102, 102, 0.5);
		/* For IE 5.5 - 7*/
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50666666, endColorstr=#50666666);
		/* For IE 8*/
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50666666, endColorstr=#50666666)";
		padding-bottom: 10px;
	}
	
	.form-wrapper {
		margin-left: auto;
		margin-right: auto;
	}

	
	.products header{
		margin-bottom: 5px !important;
	}
	
	.menu-category-3cols header{
		padding: 0px !important;
		margin: 0px !important;
	}
	
	.menu-category-3cols {
		width: 100% !important;
		height: 100% !important;
		display: block !important;
	}
	
	.menu-category-3cols:not(:first-child):not(:last-child) {
		border: 0px !important;
	}
	
	#main-search {
		top: 100px !important;
	}

	
	/* for bottom menu*/
	.footer-menu {
		position: absolute !important;
		top: 0px !important;
		right: 0px;
		z-index: 99999999;
		
	}
	

	.footer-menu {
		background: #ffffff !important;
		display: block;
		width: 100% !important;
		margin: 0px !important;
		
	}
	
	.footer-menu .navbar-collapse {
		background: #999999 !important;
		width: auto !important;
		height: auto !important;
		overflow: hidden !important;
		padding: 0px !important;
	}
	
	.footer-menu .navbar-nav li {
		display: block !important;
		margin: 20px !important;
		width: 100% !important;
		text-align:left !important;
	}
	
	.footer-menu .nav {
		height: auto !important;
		margin: 0px !important;
	}
	
	.footer-menu ul li + li span:before{
		content: "" !important;
		padding-right: 0px !important;
	}
	
	.footer-menu button, .footer-menu button:hover {
		background-color: #d83c3c !important;
		color: #000000 !important;
	}
	
	.footer-menu .icon-bar {
		background-color: #ffffff !important;
	}
