@media ( max-width :480px) {
	body {
		margin-right: 0px;
	}

	.head-opac50{

		text-align: center;
	}
	
	
	
	.account-signup{ 
		width: 45% !important;
		margin-top: 13px !important;
		height: 45px !important;
		padding: 5px 0px 5px 0px !important;
		text-align: center;
	}
	
	.account-signup img {
		width: 60% !important;
	}
	
	.support-number {
		width: 45% !important;

	}
	
	.account-separator-line {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	.product-lists {
		-webkit-column-count: 1 !important;
		-moz-column-count : 1 !important;
		column-count : 1 !important;
		-moz-column-count: 1 !important;
		column-count: 1 !important;
	}
	
	.white-line {
		display:none !important;
	}
	
	.img-search {
		text-align:center;
	}
	
	.img-search img{
		margin-top: 10px;
		margin-bottom: -20px;
		margin-left: auto;
		margin-right: auto;
		width: 280px !important;
		height: auto !important;
	}
	.menu-category-3cols {
		width: 100% !important;
		height: 100% !important;
		display: block !important;
	}
	
	.menu-category-3cols:not(:first-child):not(:last-child) {
		border: 0px !important;
	}
	
	
	
	#main-search div{
		width:auto !important;
	}
	.form-wrapper {
		
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center;
		width: 90% !important;
		margin-top: 30px !important;
	}
	
	
	.form-wrapper input:text{
		width: 70% !important;
	}
	
	.page-footer img{
		width: 280px !important;
		height: auto !important;
	}
	
	
	
	.sub-menu-2cols li {
		text-indent: 12px !important;
		padding: 10px !important;
		padding-right: 0px !important;
	}
	
	
	

}