@media screen and (orientation: portrait) {
	html {
		min-height: 550px;
		
	}
}

@media screen and (orientation: landscape) {
	html {
		min-height: 380px;
	}
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}


body {
	
	margin:0px;
}


.flex-direction-nav {
	
	display: none;
}

.yellow-opac55{
	background-color: #fff066;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 240, 102);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 240, 102, 0.80);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80fff066, endColorstr=#80fff066);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80fff066, endColorstr=#80fff066)";
}



.head-opac50 {
	
	padding: 5px 0px 5px 0px;
	height: 60px;
	width: 100%;
	max-width: 100%;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.5);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF, endColorstr=#7FFFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#7FFFFFFF)";
	position: absolute;
	margin-bottom: -70px;
	margin-right:-5px;
	z-index: 99999;
}

.logo-section {
	height: 60px;
}

.logo {
	margin-right: 10px;
	margin-left: 10px;
}

.head-opac50 img.pos-left {
	background-color: transparent;
	display: inline-block;
	margin-left: 0px;
	text-align: left;
	margin-left: -400px;
}

.head-opac50 img.pos-right {
	background-color: transparent;
	float:right;
	margin-right: 5px;
}

.support-number {
	padding-top:15px;
	padding-right: 10px;
}

.account-signup{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(102, 102, 102);
	/* RGBa with 0.6 opacity */
	background: rgba(102, 102, 102, 0.5);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50666666, endColorstr=#50666666);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50666666, endColorstr=#50666666)";
	width: 200px;
	height: 55px;
	float:right;
	margin-top: -5px;
	margin-right: 0px;
	height: 60px;
	padding-top:15px;
	color: #FFFFFF;
	display:inline-block; 
	vertical-align:middle; 
	text-align: center;
}

.slider{
	height: 390px;
	overflow: hidden;
	text-align: center;
}

.slides {
	padding:0px;
	margin: 0px;
}

.slides img{
	width: 100%;
}

#main-search {
	width: 358px;
	position: absolute;
	left: 100px;
	top: 110px;
	z-index: 999999;
}

.products {
	margin: 10px;
	padding: 10px;
}

.products header {
	margin-bottom: 15px;
	white-space: nowrap;
	width: 100%;
}


.products h3 span.special-offer-title{
	
	background-color: #cccccc;
	padding: 5px 0px 5px 5px;
	
}

.white-line{
	width: 100%;
	display: inline-block;
	border-top: #FFFFFF 2px solid;
	padding: 1px 0px 0px 0px;
	float:left;
	margin-top : -12px;
}

.product-highlight {
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}



.product-lists {
	width: auto;
	margin: 0px;
	text-align: center;
	padding: 0px;
	-webkit-column-count : auto; -webkit-column-gap: 0px; 
	-moz-column-count: auto; -moz-column-gap : 0px;
	column-count : auto; column-gap: 0px;
	column-width: 250px;
    -moz-column-width: 250px;
    -webkit-column-width: 250px;
	line-height: 0;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: translateZ(0); 
	
}

.product-lists .item {
	padding: 0px;
	margin: 0px 2px 10px 2px;
	display: inline-block;
	width: 236px !important;
  	height: auto !important;
  	background-color: #ffffff;
  	-webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.75);
	border: rgba(50, 50, 50) 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



img.img-menu {
	border: 0px;
	margin:0px;
	width: 236px !important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 9998
}

.item-desc {
	display: inline-block;
	width: 100%;
	
}

.item-caption {
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
	height: 20px;
	padding: 15px 0px 15px 0px;
	text-align: center;
	max-width: 238px !important;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index: 99999;
}

.item-caption a {
	text-decoration: none;
	color: #666666;
}

.item-caption a:hover {
	text-decoration: underline;
}

.item-caption a:visited {
	text-decoration: none;
	color: #666666;
}

.discount{
	background-image: url('../images/flag_y.png') !important;
	width: 56px;
	height: 33px;
	position: relative;
	bottom: 0px;
	margin: 0px;
	
	margin-top:-33px;
	margin-right: -180px;
	text-align: center;
	z-index: 999999;
}

.discount-text {
	font-size:small;
	position: relative;
	width: 56px;
	height: 33px;
	text-align: center;
	bottom:-5px;
	right:-5px;
	margin-top: 10px;
	bottom: -15px;
}

#eats-now {
	position: absolute;
	visibility: hidden;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.eats-btt {
	position:absolute; 
	bottom: 5px;
}


.shop-detail{
	color: #000000;
	margin: 20px;
	text-align: center;
	
}

.copy-right{
	background-color: #ffffff;
	text-align: center;
	padding:20px;
}

.backgroundwavy_r {
	height: 13px;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/bgline_wavy_gr0.gif);
	background-repeat: repeat;
}

.bottom-menu{
	
	background-color: #999999;
	padding: 20px;
}

.menu-category-3cols {
	width: 33%;
	height: 100%;
	display: inline-table;
	
}

.menu-category-3cols:not(:first-child):not(:last-child) {
	border-left: #fff600 1px solid;
	border-right: #fff600 1px solid;
}

.sub-menu-2cols {
	color: #FFFFFF;
	-webkit-column-count: 2;
	-webkit-column-gap: 0px;
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	column-count: 2;
	column-gap: 0px;
	line-height: 1;
	padding: 10px;
	
}

.menu-category-3cols header{
	padding: 20px 0px 20px 0px;
	text-align: center;
	width: 100%;
}

.sub-menu-2cols ul {
	list-style-type: none;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin-left: 1px;
}



.sub-menu-2cols li {
	background-image: url(../images/icon_logo_y.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 18px;
	display: block;
	padding: 10px;
	white-space: nowrap;
	margin: 0px;
}

.page-footer {
	background-color: #5a5a5a;
	padding: 20px;
	text-align: cernter;
	
}

.page-footer img {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.footer-menu ul {
	list-style-type: none;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

.footer-menu {
	
	height: auto;
	min-height: 0px !important;
}

.footer-menu {
	
	background: transparent !important;
	border: 0px !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin-bottom: 0px;
	
}


.footer-menu ul li {
	display: inline-block;
	color: #FFFFFF;
	margin: 0px;
	
	text-align: center;
}


/*make separator line*/
.footer-menu ul li + li span:before{
content: " | ";
padding-right: 1px;
}

.sub-menu-2cols a, .sub-menu-2cols a:visited, .footer-menu ul li a, .footer-menu ul li a:visited {
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
}

.sub-menu-2cols a:hover:not(.disabled), .footer-menu ul li a:hover {
	color: #777777;
	background-color: #fff600 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.disabled, .disabled:hover {
	color: lightgray !important;
	cursor: pointer !important;
}


   

