@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	color: #585858;
	background-color: #cccccc;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: none;
}
.body_black {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
	text-transform: none;
	font-weight: lighter;
}
.body_menu {
	margin: 0;
	padding: 0;
	color: #363636;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: normal;
	text-transform: none;
	font-weight: lighter;
}

.body_black_middleline {
	margin: 0;
	padding: 0;
	color: #363636;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	text-transform: none;
	font-weight: lighter;
	text-decoration: line-through;
}


.bodyS_white {
	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	font-style: normal;
}
.bodyS_grey {
	margin: 0;
	padding: 0;
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 35px;
	font-style: normal;
}
.bodyS1_grey {
	margin: 0;
	padding: 0;
	color: #999999;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-style: normal;
}
.bodyS2_grey {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-style: normal;
}



.bodyB_grey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #666;
	font-weight: normal;
}
.bodyB0_grey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333333;
	font-weight: bolder;
}

.bodyB4_grey {
	font-family: Verdana, Arial, sans-serif;
	font-size: 22px;
	color: #333;
	font-weight: bolder;
}
.bodyB5_grey {
	font-family: Verdana, Arial, sans-serif;
	font-size: 28px;
	color: #333;
	font-weight: bolder;
}



.bodyB1_grey {
	font-family: Verdana, Arial, sans-serif;
	font-size: 17px;
	color: #333;
}
.bodyB2_grey {
	font-family: Verdana, Arial, sans-serif, "ADMUI3Lg";
	font-size: 15px;
	color: #4A4A4A;
	font-weight: bolder;
}
.bodyB3_grey {
	font-family: Verdana, Arial, sans-serif, "ADMUI3Lg";
	font-size: 24px;
	color: #999999;
	font-weight: bolder;
}
.bodyB6Jumbo_grey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 65px;
	color: #333333;
	font-weight: bolder;
	font-style: normal;
}
.bodyB6Jumbo1_grey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 65px;
	color: #999999;
	font-weight: normal;
	font-style: normal;
}




.discount {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
}
.background {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/line_dot.gif);
	background-repeat: repeat;
}
.backgroundwavy {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/bgline_wavy_g0.gif);
	background-repeat: repeat;
	background-color: #999;
}
.backgroundwavy1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/bgline_wavy_g1.gif);
	background-repeat: repeat;
	background-color: #999;
}
.backgroundwavy_r1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/bgline_wavy_gr1.gif);
	background-repeat: repeat;
}
.backgroundwavy_r {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/bgline_wavy_gr0.gif);
	background-repeat: repeat;
}




.backgroundgrey1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/line_g1.gif);
	background-repeat: repeat;
}
.backgroundgrey {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	line-height: none;
	font-weight: bolder;
	background-image: url(../images/line_g.gif);
	background-repeat: repeat;
}
