*{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	padding: 0px 10px 0px 10px;
	margin: 0px;
}

.panel-body {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.top-header{
	margin :0px 0px 10px 0px !important;
	padding-bottom: 0px !important;
}

.sys-title {
	margin: 0px;
	padding: 10px;
	color: #2c539e;
}

.no-show {
	display: none;
}

.label {
	font-weight: bold;
	vertical-align: top;
	width: 100px;
	display: inline-block;
}

.label:AFTER {
	content: ' : ';
	vertical-align: top;
}

.img-preview{
	overflow:auto;
}
.content {
	

}
/*overide jquery ui widget*/
.ui-widget-header {
	padding: 5px;
}

#my-divider {
    left: 20em; /* Same as left component width */
    width: 5px;
}

.user-info{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	
}

.blue-shade {
	background: rgb(222,239,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */


}

#nav {

	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#nav li a {
	display: block;
	padding: 10px 15px;
	background: #ccc;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #999;
	color: #000;
	text-decoration: none;
}

#nav li a:hover,#nav li a.active {
	background: #999;
	color: #fff;
}

#nav li ul {
	display: none;
	//
	used
	to
	hide
	sub-menus
}

#nav li ul li a {
	padding: 10px 25px;
	background: #ececec;
	border-bottom: 1px dotted #ccc;
}

#nav li ul li .active {
	font-weight: bold !important;
	background: #eeeeee !important;
}

#content-title{
	padding: 5px;
}

#content-section {
	padding: 20px;
}

